@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.pagination .page-link:hover {
  background-color: #e9ecef;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  background-color: #fff;
  color: #6c757d;
  border-color: #ddd;
}
